/* General CSS for Contact Page */
@media screen {

.form {
    background-color: white; 
    opacity: 0.8;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

input[type=text], select, textarea {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    background-color: #5f8667;
    opacity: 0.8;
    padding: 10px;
}

.form label {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-left: 20%;
    margin-top: 10%;
}

input[type=submit] {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: white;
    margin-top: 5%;
}

input[type=submit]:hover {
    color: gray;
}
}

/* Responsive for Larger Screens */
@media screen and (min-width: 1367px) {

.form {
    width: 50%;
    height: 300px;
    margin-top: 10%;
}
        
input[type=text], select, textarea {
    width: 400px;
}
    
.form label {
    font-size: 16px;
}
    
input[type=submit] {
    font-size: 20px;
    margin-left: 45%;
}
}

/* Responsive for Medium Screens */
@media screen and (min-width: 1025px) and (max-width: 1366px) {

    .form {
        width: 50%;
        height: 300px;
        margin-top: 10%;
    }
            
    input[type=text], select, textarea {
        width: 400px;
    }
        
    .form label {
        font-size: 16px;
    }
        
    input[type=submit] {
        font-size: 20px;
        margin-left: 45%;
    }
    }

/* Responsive for Smaller Screens */
@media screen and (max-width: 1024px) {

.form {
    width: 70%;
    height: 200px;
    margin-top: 25%;
}
    
input[type=text], select, textarea {
    width: 100px;
    height: 3px;
}

.form label {
    font-size: 20px;
}

input[type=submit] {
    font-size: 16px;
    margin-left: 40%;
}
}